.about-bicycle {
  min-height: 804px;
  background-image: linear-gradient(180deg, $onyx 0%, $onyx 87%, $white 87%, $white 100%);
}

.about-bicycle__wrapper {
  @include container;
  padding-top: 121px;
}

.about-bicycle__caption {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $white;
}

.about-bicycle__decs {
  margin: 0 auto;
  margin-bottom: 58px;
  width: 28%;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: $white;
  opacity: 0.7;
}

.about-bicycle__wrapper-img {
  position: relative;
  margin: 0 auto;
  width: 76%;
  height: auto;
}

.about-bicycle__wrapper-img button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  background-color: $cyan;
  border: none;
  border-radius: 50%;
  z-index: 9;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 29px;
    width: 9px;
    height: 14px;
    border-style: solid;
    border-color: transparent transparent transparent $dark-onyx;
    border-width: 9px 0 9px 14px;
    z-index: 10;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.5;
  }
}

@media (max-width: $desktop-width) {
  .about-bicycle {
    min-height: 498px;
    background-image: linear-gradient(180deg, $onyx 0%, $onyx 82%, $white 82%, $white 100%);
  }

  .about-bicycle__wrapper {
    @include container-tablet;
    padding-top: 70px;
  }

  .about-bicycle__caption {
    font-size: 24px;
  }

  .about-bicycle__decs {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 56%;
  }

  .about-bicycle__wrapper-img {
    width: 66%;
  }

  .about-bicycle__wrapper-img button {
    width: 90px;
    height: 90px;

    &::after {
      top: 33px;
      left: 39px;
      width: 13px;
      height: 20px;
      border-width: 13px 0 13px 20px;
    }
  }
}

@media (max-width: $tablet-width) {
  .about-bicycle {
    min-height: 433px;
    background-image: linear-gradient(180deg, $onyx 0%, $onyx 88%, $white 88%, $white 100%);
  }

  .about-bicycle__wrapper {
    @include container-mobile;
    padding-top: 84px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-bicycle__decs {
    margin-bottom: 52px;
    width: 100%;
  }

  .about-bicycle__wrapper-img {
    width: 100%;
  }

  .about-bicycle__wrapper-img button {
    width: 65px;
    height: 65px;

    &::after {
      top: 23px;
      left: 28px;
      width: 9px;
      height: 15px;
      border-width: 9px 0 9px 15px;
    }
  }
}
