.offer {
  padding-top: 46px;
  width: 40%;
}

.offer b {
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $white;
}

.offer p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;
  color: $white;
}

@media (max-width: $desktop-width) {
  .offer {
    @include container-tablet;
    position: relative;
    padding-bottom: 80px;
    padding-top: 84px;
    width: 68%;
  }

  .offer b {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .offer p {
    margin: 0 auto;
    width: 75%;
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .offer {
    @include container-mobile;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 90%;
  }

  .offer p {
    width: 100%;
  }
}
