.promo {
  @include container;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 240px;
  padding-top: 260px;
  padding-left: 171px;
  padding-right: 171px;
  z-index: 1;


  &::after {
    content: "";
    position: absolute;
    top: -64px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1222px;
    height: 825px;
    background-image: url("../img/desktop-back.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $onyx;
    overflow: hidden;
    z-index: -10;
  }
}

@media (max-width: $desktop-width) {
  .promo {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    &::after {
      top: -52px;
      width: 767px;
      height: 340px;
      background-image: url("../img/tablet-back.png");
      background-size: contain;
    }
  }
}

@media (max-width: $tablet-width) {
  .promo {
    &::after {
      width: 319px;
      height: 390px;
      background-image: url("../img/mobile-back.png");
    }
  }
}
