.header {
  position: relative;
  margin-bottom: 263px;

  &::after {
    content: url('../img/desktop-back.png');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1440px;
    height: 825px;
    background-color: $graphite;
    z-index: -10;
  }
}

.header__wrapper {
  @include container;
  position: relative;
  width: 877px;
}

.header__logo {
  position: absolute;
  top: 318px;
  left: 0;
}


// @media (max-width: $desktop-width) and (min-width: $tablet-width) {
//   body{
//     background-color: purple;
//   }
// }
