@mixin container {
  width: 1222px;
  margin: 0 auto;
  padding: 0;
}

@mixin container-tablet {
  width: 767px;
  margin: 0 auto;
  padding: 0;
}

@mixin container-mobile {
  width: 319px;
  margin: 0 auto;
  padding: 0;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$light-grey: #f6f7f9;
$grey: #c9ccd4;
$dark-grey: #48494d;
$cyan: #0ad9c6;
$graphite: #1f1f1f;
$dark-iron: #1c1c1c;
$onyx: #131314;
$dark-onyx: #070707;
$black: #000000;
