@mixin container {
  width: 1222px;
  margin: 0 auto;
  padding: 0;
}

@mixin container-tablet {
  width: 767px;
  margin: 0 auto;
  padding: 0;
}

@mixin container-mobile {
  width: 319px;
  margin: 0 auto;
  padding: 0;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$light-grey: #F6F7F9;
$grey: #C9CCD4;
$cyan: #0AD9C6;
$graphite: #1F1F1F;
$dark-iron: #1C1C1C;
$onyx: #131314;
$dark-onyx: #070707;
$black: #000000;
