.offer-help {
  width: 37.5%;
}

.offer-help__desc {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: $white;
}

.offer-help__form-wrapper {
  margin: 0;
}

.offer-help__form-wrapper input {
  display: block;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 100%;
  min-height: 48px;

  background-color: $white;
  border: 1px solid $grey;
  border-radius: 4px;
}

.offer-help__form-wrapper input::placeholder {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $dark-iron;
  opacity: 0.5;
}

.offer-help__form-wrapper input:hover::placeholder,
.offer-help__form-wrapper input:focus,
.offer-help__form-wrapper input:focus::placeholder {
  opacity: 1;
  outline: none;
}

.offer-help__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  background-color: $cyan;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.9;
    color: rgba($color: $black, $alpha: 0.5);
  }
}

@media (max-width: $desktop-width) {
  .offer-help {
    width: 100%;
    background: $white;
  }

  .offer-help__wrapper {
    @include container-tablet;
    padding-top: 70px;
    padding-bottom: 35px;
    width: 43%;
  }

  .offer-help__desc {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
    color: $black;
  }

  .offer-help__form-wrapper input {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    width: 97%;
    border-radius: 6px;
  }

  .offer-help__button {
    width: 97%;
  }
}

@media (max-width: $tablet-width) {
  .offer-help__wrapper {
    @include container-mobile;
    padding-top: 70px;
    padding-bottom: 35px;
    width: 100%;
  }

  .offer-help__desc {
    margin-bottom: 20px;
  }

  .offer-help__form-wrapper input {

    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 26px;
    width: 90%;
    border-radius: 4px;
  }

  .offer-help__button {
    width: 90%;
  }
}
