.promo {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-bottom: 240px;
  padding-left: 171px;
  padding-right: 171px;
}

@media (max-width: $desktop-width) {
  .promo {
    @include container-tablet;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 121px;
    padding-right: 121px;
    padding-bottom: 35px;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    @include container-mobile;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
  }
}
